<a href="https://colab.research.google.com/github/Srinivasa-N707/HumanOrBot/blob/main/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('myexcelfile1.csv')

In [ ]:
df.head()

,Texts,Texts2,corpus,onehot_repr
0,Fantastic picture quality and great value for ...,human,fantast pictur qualiti great valu money,"[2740, 673, 1124, 4332, 2133, 420]"
1,Good,human,good,[2183]
2,Superb quality ❤️,human,superb qualiti,"[4659, 1124]"
3,Super,human,super,[2388]
4,Just ok (only),human,ok,[2006]

In [ ]:
###Drop Nan Values
df=df.dropna()

In [ ]:
## Get the Independent Features

X=df.drop('Texts2',axis=1)

In [ ]:
## Get the Dependent features
y=df['Texts2']

In [ ]:
y.value_counts()

human    274
bot      249
Name: Texts2, dtype: int64

In [ ]:
X.shape

(523, 1)

In [ ]:
y.shape

(523,)

In [ ]:
messages=X.copy()

In [ ]:
messages['Texts'][1]

'Good'

In [ ]:
messages.reset_index(inplace=True)

In [12]:
import nltk
import re
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
messages = "I'm not a robot"

In [ ]:
### Dataset Preprocessing
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []


for i in range(0, len(messages)):
    print(i)
    review = re.sub('[^a-zA-Z]', ' ', messages['Texts'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
corpus

['robot']

In [ ]:
df.head()

,Texts,Texts2,corpus,onehot_repr
0,Fantastic picture quality and great value for ...,human,fantast pictur qualiti great valu money,"[2740, 673, 1124, 4332, 2133, 420]"
1,Good,human,good,[2183]
2,Superb quality ❤️,human,superb qualiti,"[4659, 1124]"
3,Super,human,super,[2388]
4,Just ok (only),human,ok,[2006]

In [ ]:
df['corpus'] = corpus

In [12]:
df.to_csv('preprocessed_filename.csv', index=False)

In [13]:
message = input("Enter the input:")

Enter the input:ai needs humans to implement the process initiallly

In [14]:
### Dataset Preprocessing
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []

review = re.sub('[^a-zA-Z]', ' ', message)
review = review.lower()
review = review.split()

review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
review = ' '.join(review)
corpus.append(review)

In [15]:
corpus

['ai need human implement process initiallli']